* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: dark;
}

body {
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#mainGridBlock {
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: center;
    align-items: center;
    width: 1920px;
}

.firstContainer {
    display: flex;
    flex-direction: column;
    width: 294px;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navSettings {
    display: flex;
    flex-direction: column;
}

.btn {
    height: 73px;
    width: 294px;
    font-size: 24px;
    color: white;
    background-color: #64549C;
    border: none;
    margin: 1px;
}

#open {
    background-color: #150061;
}

.settingsDopBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #64549C;
    border-radius: 5px 5px 0 0;
}

.settingsDopBtn > img {
    padding-left: 15px;
}

.dopClose {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
    width: 294px;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: #999999;
    border: none;
    margin: 1px;
}

.dopClose > img {
    margin-right: 15px;
}

#secondContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #FAF9FB;
    color: black;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid #FAF9FB;
    border-radius: 5px;
    height: 948px;
    width: 1444px;
    margin: 15px 0;
}

#btnSect {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnSect > button {
    background-color: #564592;
    height: 50px;
    width: 273px;
    border: 1px solid #564592;
    border-radius: 5px;
    color: white;
    margin: 10px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#btnSect > button:first-child {
    background-color: #14005C;
    border: 1px solid #14005C;
}

#btnSect > button:hover {
    background-color: white;
    border: 1px solid #564592;
    color: #564592;
}

#infoSect {
    display: grid;
    grid-template-columns: 20% 80%;
}

#infoSect > section:first-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid #090029;
    border-radius: 5px;
    height: 778px;
    width: 262px;
}

#infoSect > section:first-child > button {
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 47px;
    width: 220px;
    border: 1px solid #E6E3EF;
    border-radius: 5px;
    background-color: #E6E3EF;
    margin: 30px;
}

#infoSect > section:first-child > button:hover {
    color: black;
    border: 1px solid #E6E3EF;
    background-color: white;
}

#infoSect > section:first-child > button > .openTab {
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 47px;
    width: 220px;
    border: 1px solid #CFBFFF;
    border-radius: 74px;
    background-color: #CFBFFF;
    margin: 30px;
}

#infoSect > section:first-child > button > .openTab:hover {
    color: black;
    border: 1px solid #CFBFFF;
    background-color: white;
}

#infoSect > section:last-child {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 1100px;
}

#infoSect > section:last-child > h1 {
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #564592;
    width: 1100px;
    margin-top: 5px;
}

#infoSect > article:last-child > span {
    font-size: 33px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 1100px;
    margin: 40px 0;
}

#assessment {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 1100px;
}

#assessment > section:first-child {
    display: grid;
    grid-template-columns: 15% 25% 60%;
    justify-content: center;
    align-items: center;
}

#assessment > section:first-child > p:first-child {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 8px 0;
}

#fioText {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 8px 0;
}

#assessment > section:first-child > p:last-child {
    text-align: center;
    padding-left: 60px;
    border-bottom: 1px solid black;
    padding: 8px 0;
}

#assessmentScroll {
    width: 1100px;
    height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: white gray;
    scrollbar-width: thin;
}

#assessmentScroll::-webkit-scrollbar {
    width: 6px;              
}

#assessmentScroll::-webkit-scrollbar-track {
    width: 2px;
    height: 2px;
    background-color: white;     
}

#assessmentScroll::-webkit-scrollbar-thumb {
    width: 2px;
    height: 2px;
    background-color: gray;  
}

#assessmentScroll > article {
    display: grid;
    grid-template-columns: 15% 25% 35% 25%;
    align-items: start;
    height: 66px;
    width: 1100px;
}

.assessArtOne {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 15px 0;
}

.assessArtTwo {
    padding: 15px 0;
    border-bottom: 1px solid black;
}

.assessArtOne > p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.assessArtTwo > input {
    color: darkgray;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    height: 45px;
    width: 380px;
    margin-left: 5px;
    padding-left: 5px;
}

.assessArtTwo > input:focus {
    color: black;
}

.assessArtTwo > button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #564592;
    border: 1px solid #564592;
    border-radius: 5px;
    height: 37px;
    width: 172px;
    margin: 5px 0;
    margin-left: 50px;
}

@keyframes openDialog {
    0% {
    opacity: 0.5;
    top: -10px;
    }
    100% {
    opacity: 1;
    top: 10px;
    }
}

@keyframes closeDialog {
    0% {
    opacity: 1;
    top: 10px;
    }
    100% {
    opacity: 0;
    top: -10px;
    }
}

#notificationSendCoins {
    width: fit-content;
    height: fit-content;
    padding: 25px;
    border-radius: 5px;
    margin: auto;
    top: 10px;
    position: fixed;
    background-color: green;
    color: white;
    border: none;
    animation: openDialog .5s;
}

