* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: dark;
}

body {
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#mainGridBlock {
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: center;
    gap: 30px;
}

.firstContainer {
    display: flex;
    flex-direction: column;
    width: 294px;
    gap: 20px;
}

.navSettings {
    display: flex;
    flex-direction: column;
}

.btn {
    height: 73px;
    width: 294px;
    font-size: 24px;
    color: white;
    background-color: #64549C;
    border: none;
    margin: 1px;
}

#open {
    background-color: #150061;
}

.settingsDopBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #64549C;
    border-radius: 5px 5px 0 0;
}

.settingsDopBtn > img {
    padding-left: 15px;
}

.dopClose {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
    width: 294px;
    font-size: 24px;
    color: white;
    background-color: #999999;
    border: none;
    margin: 1px;
}

.dopClose > img {
    margin-right: 15px;
}

#secondContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 995px;
    width: 1424px;
    direction: ltr;
}

#explanation {
    display: grid;
    grid-template-columns: 15% 15% 15% 40% 15%;
    width: 1424px;
}

#explanation  > p {
    display: flex;
    justify-content: center;
    align-items: center;
} 

#topScroll {
    height: 575px;
    width: 1424px;
    overflow-y: scroll;
    overflow-x: hidden;
    direction: rtl;
    scrollbar-color: white gray;
    scrollbar-width: thin;
}

#topScroll::-webkit-scrollbar {
    width: 6px;              
}

#topScroll::-webkit-scrollbar-track {
    width: 2px;
    height: 2px;
    background-color: white;     
}

#topScroll::-webkit-scrollbar-thumb {
    width: 2px;
    height: 2px;
    background-color: gray;  
}

#numberOne {
    height: 75px;
    width: 1400px;
    background-color: #E6D992;
    border-color: #000000;
    border-style: solid;
    border-radius: 5px;
    border-bottom-width: initial;
    display: grid;
    grid-template-columns: 11% 17% 17% 42% 13%;
    align-items: center;
    margin: 15px 8px;
    font-size: 32px;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



#numberTwo {
    height: 75px;
    width: 1400px;
    background-color: #DCDBDB;
    border-color: #000000;
    border-style: solid;
    border-radius: 5px;
    border-bottom-width: initial;
    display: grid;
    grid-template-columns: 11% 17% 17% 42% 13%;
    align-items: center;
    margin: 15px 8px;
    font-size: 32px;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#numberThree {
    height: 75px;
    width: 1400px;
    background-color: #FFD0A1;
    border-color: #000000;
    border-style: solid;
    border-radius: 5px;
    border-bottom-width: initial;
    display: grid;
    grid-template-columns: 11% 17% 17% 42% 13%;
    align-items: center;
    margin: 15px 8px;
    font-size: 32px;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.otherUser {
    height: 75px;
    width: 1400px;
    background-color: #F9F9F9;
    border-color: #000000;
    border-style: solid;
    border-radius: 5px;
    border-bottom-width: initial;
    display: grid;
    grid-template-columns: 11% 17% 17% 42% 13%;
    align-items: center;
    margin: 15px 8px;
    font-size: 32px;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.topNumberBlock {
    direction: ltr;
}

.num {
    margin-left: 28px;
}

.topNumberBlock > img {
    margin-left: 125px;
} 

.rating {
    margin-left: 16px;
}

#topScroll > section > p {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.hundredth {
    height: 75px;
    width: 1400px;
    background-color: #EFF4FF;
    border: solid #564592;
    border-radius: 5px;
    border-bottom-width: initial;
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-columns: 11% 17% 17% 42% 13%;
    align-items: center;
    margin: 8px;
    margin-right: 6px;
    font-size: 32px;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hundredth > img {
    margin-left: 125px;
} 

.hundredth > p {
    display: flex;
    justify-content: center;
    align-items: center;
}