* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: dark;
}

body {
    background-color: white;
}

main {
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 115px;
    align-items: center;
}

#firstContainer {
    background-color: #A4B0F2; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 270px;
}

.btnFirstContainer {
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: Inter, Roboto;
    border: none;
    border-radius: 23px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 210px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#dutyScroll {
    height: 900px;
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    direction: rtl;
    scrollbar-color: white gray;
    scrollbar-width: thin;
}

#dutyScroll::-webkit-scrollbar {
    width: 6px;              
}

#dutyScroll::-webkit-scrollbar-track {
    width: 2px;
    height: 2px;
    background-color: white;     
}

#dutyScroll::-webkit-scrollbar-thumb {
    width: 2px;
    height: 2px;
    background-color: gray;  
}

#dutyScroll > button {
    background-color: #A39E9E;
    color: white;
    font-size: 16px;
    font-family: Inter, Roboto;;
    border: none;
    border-radius: 23px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 170px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#secondContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 40px;
    height: 655px;
    width: 1332px;
    border: none;
    border-radius: 43px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .25);
}

#placeOfDuty {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btnPlaceOfDuty {
    background-color: #564592;
    color: white;
    font-size: 32px;
    font-family: Inter, Roboto;
    border: solid #564592;
    border-radius: 74px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 310px;
}

.btnPlaceOfDuty:hover {
    background-color: white;
    color: #564592;
    border: solid #564592;
}