* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: dark;
}

body {
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#mainGridBlock {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    gap: 10px;
}

.firstContainer {
    display: flex;
    flex-direction: column;
    width: 294px;
    gap: 20px;
}

.navSettings {
    display: flex;
    flex-direction: column;
}

.btn {
    height: 73px;
    width: 294px;
    font-size: 24px;
    color: white;
    background-color: #64549C;
    border: none;
    margin: 1px;
}

#open {
    background-color: #150061;
}

.settingsDopBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #64549C;
    border-radius: 5px 5px 0 0;
}

.settingsDopBtn > img {
    padding-left: 15px;
}

.dopClose {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
    width: 294px;
    font-size: 24px;
    color: white;
    background-color: #999999;
    border: none;
    margin: 1px;
}

.dopClose > img {
    margin-right: 15px;
}

#secondContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 180px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

#historyScroll {
    height: 1001px;
    width: 1424px;
    font-size: 28px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F8F8F8;
    border-style: solid;
    border-width: 2px 2px;
    border-color: gray;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    direction: rtl;
    scrollbar-color: white gray;
    scrollbar-width: thin;
}

#historyScroll::-webkit-scrollbar {
    width: 6px;              
}

#historyScroll::-webkit-scrollbar-track {
    width: 2px;
    height: 2px;
    background-color: white;     
}

#historyScroll::-webkit-scrollbar-thumb {
    width: 2px;
    height: 2px;
    background-color: gray;  
}

.historyAssessments {
    display: grid;
    justify-content: center;
    grid-template-columns: 17% 17% 66%;
    gap: none;
}

.firstTextBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid black;
    border-right: 1.5px solid black;
    width: 240px;
    height: 100px;
}

.secondTextBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid black;
    width: 240px;
    height: 100px;
}

.artHistory {
    display: flex;
    flex-direction: column;
    width: 944px;
    height: 100px;
}

.thirdTextBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid black;
    border-left: 1.5px solid black;
    width: 944px;
    height: 50px;
}

.sectHistory {
    display: flex;
    flex-direction: row;
    width: 944px;
    height: 50px;
}

.fourthTextBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
    width: 704px;
    height: 50px;
}

.fourthTextBlock > p {
    padding-right: 5px;
}

.fourthTextBlock > img {
    padding-right: 28px;
}

.fifthTextBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid black;
    width: 240px;
    height: 50px;
}

.sixthTextBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
    width: 704px;
    height: 100px;
}

.seventhTextBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid black;
    width: 240px;
    height: 100px;
}

.historyTablBlock {
    direction: ltr;
}